{% comment %} {% extends 'blog/base.html' %} {% endcomment %}

{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equip="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="% static 'css/style.css' %">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
        
        <title>STATIC FILE DJANGO PYTHON</title>

    </head>
    <body>
        {% include "blog/navbar.html" %}

        {% comment %} {% block header %}
    
           <h1> welcome </h1>
            <p> happy nice day ! </p>

        {% endblock header %} {% endcomment %}


        <center>
         <h2> SELAMAT DATANG </h2> 
        
        <img src="{% static 'img/pantai.jpg' %}">
        </center>
        
        <script>src="{% static 'vendor/jquery/jquery.js' %}"</script>
        <script>src="{% static 'vendor/popper/popper.js' %}"</script>
        <script>src="{% static 'vendor/bootstrap/bootstrap.js' %}"</script>
    </body>
</html>